<main>
  <p is="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
    <%= render 'list',books: @book %> <%#部分テンプレート%>

    <div class="col-md-8 offset-md-1">
    <h2>Book datail</h2>
      <table class="table">
       <tbody>
         <tr>
             <td>

             </td>
             <td>

             </td>
             <td>

             </td>
         </tr>
       </tbody>
      </table>
    </div>
    </div>
  </div>
</main>

